<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>Header side</header>
    <div class="wrapper">
      <div class="sharing_area">
        <form>
          <label for="description">Description</label>
          <input type="text" id="description" />
          <input type="file" />
        </form>
      </div>
      <div class="post_container">
        
        <% for(photo of photos) { %>

          <div class="post_item">
            <div class="post_username">
              <p><b>siruzmammadli</b></p>
            </div>
            <div class="post_image">
              <img
                src="https://blog.hubspot.com/hubfs/post-instagram-1.jpg"
                alt=""
              />
            </div>
            <div class="post_description">
              <p><%= photo.description %></p>
            </div>
          </div>

        <% } %>

      </div>
    </div>
  </body>
</html>
